

body{
    background: linear-gradient(to bottom right, #e0e7ff, #f0f9ff, #ede9fe);
    min-height: 100vh;
    margin: 0px;
}

.img-logo{
    width: 100px;
}

/* ----- Search container ----- */
.search-container{
    background: linear-gradient(to bottom left, #EDE9FE, #E0F2FE);
    padding: 1.5rem;
    border: 1 solid;
    border-radius: 24px;
    margin-bottom: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.6);

}

/* ----- Buttons ----- */
.buttons {
  background: #1E2438;
  color: #FAFAFC;
  border: none;
  padding: 14px 24px;

}

button:hover {
  background: #2A314A;
}


#input-search{
    width: 100%;
    border-radius: 24px;
    padding: 14px 24px;
}

#btn-search{
    width: 100%;
    border-radius: 24px;
}

#btn-clean{
    width: 100%;
    border-radius: 24px;
}


/* ----- Pokemons Cards */
.card{
    background: linear-gradient(to bottom left, #EDE9FE, #E0F2FE);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.type-pokemon{
    border-radius: 24px;
    font-size: 0.9rem;
    color: #fff;
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.type-normal {
    background-color: #a8a878;
}

.type-fire {
    background-color: #ff5151;
}

.type-water {
    background-color: #6890f0;
}

.type-electric {
    background-color: #f8d030;
}

.type-grass {
    background-color: #6ac33d;
}

.type-ice {
    background-color: #98d8d8;
}

.type-fighting {
    background-color: #c03028;
}

.type-poison {
    background-color: #a040a0;
}

.type-ground {
    background-color: #e0c068;
}

.type-flying {
    background-color: #a890f0;
}

.type-psychic {
    background-color: #f85888;
}

.type-bug {
    background-color: #a8b820;
}

.type-rock {
    background-color: #b8a038;
}

.type-ghost {
    background-color: #705898;
    color: #fff;
}

.type-dragon {
    background-color: #7038f8;
}

.type-dark {
    background-color: #705848;
}

.type-steel {
    background-color: #b8b8d0;
}

.type-fairy {
    background-color: #ee99ac;
}

.card-id{
    font-size: 0.9rem;
    color: grey;

}


.card-desc{
    margin-top: 25px;
    font-size: 0.9rem;
}